
/*-----------setup logo ------------- */
.logoInfi{
  position: absolute;
  width: 3%;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 20px;

}
/* ----------Nevigation bar */
.nav-ul li{
  padding: 2rem;

}
.nav-ul a{
  text-decoration: none;
  color: white;
  font-family: Garamond, serif;
  font-size: 2em;
  width: 100%;
}
.nav-ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(12, 12, 12);
  margin:auto;
}

footer{
  text-align: center;
  width: 100%;
  color: white;
  background-color: rgb(5, 5, 5);
  font-size: 1rem;
  margin:auto;
  /* padding: 1rem; */
  position: absolute;
  bottom: 0px;
}


/*------------------------- Sigmup form---------- -------------*/
.SignupForm ,.product{ 
  color: white;
  display:flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgb(0, 255, 21); */
  margin: auto;
  width: 50%;
  margin-top: 10vh;
  padding-bottom: 10vh;
  border-radius: 85px;

  /* adding background image */
  background-image: url('./images/product_image.avif');
  background-size: 1800px auto; /* Adjust the values to set the desired percentage width and height */
  background-repeat: no-repeat;
}
.SignupForm input, .product input{
  /* display: inline-block; it is inline-block by default so dont worry */
  height: 2rem;
  width: 50%;
  margin: 1em;
  border-radius: 10px;
  border: 3px solid white;
  background-color: rgb(76, 171, 199);
}

.SignupForm input::placeholder,.product input::placeholder{
  color: #060606; /* Replace with your desired color */
}

.SignupForm button, .product button{
  margin-top: 2rem;
  border-radius: 1rem;
  width: 30%;
  background: #000;
  color: wheat;
  border-color: 4px solid black;
}

/* login---------------------------------------------- */
.login{
  color: white;
  display:flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgb(0, 255, 21); */
  margin: auto;
  width: 40%;
  margin-top: 10vh;
  padding-bottom: 10vh;
  border-radius: 85px;

  /* adding background image */
  background-image: url('./images/product_image.avif');
  background-size: 1800px auto; /* Adjust the values to set the desired percentage width and height */
  background-repeat: no-repeat;
  
}
.login input{
  border-radius: 10px;
  margin-top: 5%;
  height: 2rem;
  width: 50%;
}
.login button{
  margin-top: 2rem;
  border-radius: 1rem;
  width: 30%;
  background: #000;
  color: wheat;
  border-color: 4px solid black;
}

/*-------------- invalid input field in add items ------------*/
.invalid-input {
  color: red;
  display: inline-block;
  margin-top: -12px;
  margin-left: -140px;
}


/* ------Align product --------------*/
.product-list {
  text-align: center;
  margin-top: 5%;
}
.product-list ul li{
  font-size: x-large;
  display: inline-block;
  text-decoration: none;
  border: 2px solid aqua;
  width: 15%;
}
.product-list ul{
  margin: 0px;
}
#btp{
  margin-left: 10px;
}
/* ----------search_bar_product ---------*/
#search_bar_product {
  width: 25%;
  height: 2.6em;
  margin-bottom: 7px;
  border: 2px solid black;
  border-radius: 20px;
}

/* ------------profile------------- */
.profile{
  margin: auto;
  background: rgb(128, 128, 128);
  width: 40vw;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  margin-top: 10%;
  height: 52vh;
  border-radius: 10%;

  background-image: url('./images/photo.png');
  background-size: 100% auto; /* Adjust the values to set the desired percentage width and height */
  background-repeat: no-repeat;
}


/* ----------------app background -------------------*/
.App {
  background-image: url('./images/bgig.png'); /* Replace with the actual path to your image */
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat; /* Adjust as needed */
  background-attachment: fixed; /* Optional, use if you want a fixed background */
  /* Add other styles as needed */
  height: 100vh;
}
